.team-section {
  text-align: center;
  padding: 2rem;
}

.team-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.team-description {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.team-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  margin: 5%;
  position: relative;
}

.card-header {
  position: relative;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.card-header.member1 {
  background-image: url('/assets/background1.png'); /* Background image for member1 */
}

.card-header.member2 {
  background-image: url('/assets/background2.png'); /* Background image for member2 */
}

.member-image {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 4px solid white;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
}

.member-image.member1 {
  background-image: url('/client/src/assets/Narayanan_Ayipuzha.png'); /* Member1 image */
}

.member-image.member2 {
  background-image: url('/assets/member2.png'); /* Member2 image */
}

.member-image.member3 {
  background-image: url('/client/src/assets/member3.png'); /* Member1 image */
}

.member-image.member4 {
  background-image: url('/assets/member4.png'); /* Member2 image */
}

.card-body {
  padding: 60px 1rem 1rem; /* Add top padding to account for the member image */
  text-align: center;
}

.member-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.member-position {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.member-description {
  font-size: 0.875rem;
  margin: 1rem 0;
}

.linkedin-icon img {
  width: 30px;
  height: 30px;
  margin-top: 1rem;
}
